<l3co-input title="Cadastre sua ideia"
            [functionReference]="saveRequirementsAndNext()"
            [btnDescription]="'Salvar/Avançar'">

  <mat-form-field color="accent">
    <input name="idea" matInput placeholder="Ideia do applicativo">
  </mat-form-field>

  <mat-form-field color="accent">
      <textarea name="objective" matInput
                placeholder="Objetivo o que você pretendo solucionar, qual dor você está atancando"></textarea>
  </mat-form-field>

  <mat-form-field color="accent">
    <mat-select placeholder="Select">
      <mat-option value="technology">Technology</mat-option>
      <mat-option value="health">Health</mat-option>
      <mat-option value="food">Food</mat-option>
      <mat-option value="finances">Finances</mat-option>
      <mat-option value="market">Market</mat-option>
    </mat-select>
  </mat-form-field>

</l3co-input>
