<div class="container">
  <h1>New Idea</h1>
  <mat-form-field color="accent">
    <input name="idea" [(ngModel)]="startup.idea" matInput placeholder="Ideia do applicativo">
  </mat-form-field>

  <mat-form-field color="accent">
      <textarea name="objective" matInput
                [(ngModel)]="startup.objective"
                placeholder="Objetivo o que você pretendo solucionar, qual dor você está atancando">
      </textarea>
  </mat-form-field>

  <mat-form-field color="accent">
    <mat-select placeholder="Select" [(ngModel)]="startup.market">
      <mat-option value="technology">Technology</mat-option>
      <mat-option value="health">Health</mat-option>
      <mat-option value="food">Food</mat-option>
      <mat-option value="finances">Finances</mat-option>
      <mat-option value="market">Market</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button class="bt-center" color="accent"
          (click)="saveStartup()">Registrar Idéia
  </button>
</div>
