<mat-toolbar color="primary" class="mat-elevation-z2">
  <img class="logo" src="../../assets/img/startup.svg" />
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_donations" />
    <input type="hidden" name="business" value="QZXTGM8A6CW5J" />
    <input type="hidden" name="currency_code" value="BRL" />
    <input type="image" src="../../assets/img/donation.png" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
  </form>
</mat-toolbar>
