<l3co-menu-investment [startup]="startup"></l3co-menu-investment>

<button
  mat-mini-fab
  color="accent"
  class="card-button"
  matTooltip="Custos"
  (click)="callDialogCosts(startup)">
  <mat-icon>money_off</mat-icon>
</button>

<button
  mat-mini-fab
  color="accent"
  class="card-button"
  matTooltip="Concorrentes"
  (click)="callDialogConcurrence(startup)">
  <mat-icon>business</mat-icon>
</button>

<button
  mat-mini-fab
  color="accent"
  class="card-button"
  matTooltip="Monetização"
  (click)="callDialogMonetize(startup)">
  <mat-icon>monetization_on</mat-icon>
</button>

<button
  mat-mini-fab color="accent"
  class="card-button"
  (click)="callDialogProduct(startup)"
  matTooltip="Produto">
  <mat-icon>apps</mat-icon>
</button>

<button
  mat-mini-fab color="accent"
  (click)="exportFile(startup)"
  class="card-button"
  matTooltip="Export Word">
  <mat-icon>save_alt</mat-icon>
</button>
