<div class="container">
  <h1 mat-dialog-title>Formas de monetização</h1>
  <mat-dialog-content>

    <mat-form-field color="accent">
      <input name="description"
             #iptDescription='ngModel' required
             [(ngModel)]="monetize.description"
             matInput placeholder="Forma de Monetização">
    </mat-form-field>

    <mat-form-field color="accent">
    <textarea name="note" matInput
              #iptNote='ngModel' required
              [(ngModel)]="monetize.note"
              placeholder="Descrição da monetização">
    </textarea>
    </mat-form-field>

  </mat-dialog-content>

  <div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Fechar</button>
    <button mat-button
            [disabled]="iptDescription.invalid || iptNote.invalid"
            class="bt-center"
            (click)="createMonetize()">Adicionar</button>
  </div>
</div>
