<div class="container">
  <h1 mat-dialog-title>Investimentos Realizados</h1>
  <mat-dialog-content>
    <p *ngIf="investmentIsEmpty()">Não há investimentos salvos!</p>
    <table *ngIf="!investmentIsEmpty()" class="pure-table pure-table-horizontal">
      <thead>
      <tr>
        <th>ação</th>
        <th>nome</th>
        <th>valor</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let investment of data.investments">
        <td>
          <button color="primary" mat-button (click)="removeInvestment(investment)">Remover</button>
        </td>
        <td>{{investment.name}}</td>
        <td>{{investment.value | currency : "BRL"}}</td>
      </tr>
      </tbody>
    </table>
  </mat-dialog-content>
  <br>
  <button mat-button (click)="close()">Fechar</button>
</div>


