<button mat-fab color="accent" class="card-button" (click)="callDialogInvestment(startup)">
  <mat-icon>money_off</mat-icon>
  <p class="info-btn">investimento</p>
</button>
<button mat-fab color="accent" class="card-button" (click)="callDialogProvision(startup)">
  <mat-icon>attach_money</mat-icon>
  <p class="info-btn">retorno</p>
</button>
<button mat-fab color="accent" class="card-button" (click)="callDialogConcurrence(startup)">
  <mat-icon>business</mat-icon>
  <p class="info-btn">concorrência</p>
</button>
<button mat-fab color="accent" class="card-button" (click)="callDialogMonetize(startup)">
  <mat-icon>monetization_on</mat-icon>
  <p class="info-btn">monetização</p>
</button>
<button mat-fab color="accent" (click)="exportFile(startup)" class="card-button">
  <mat-icon>save_alt</mat-icon>
  <p class="info-btn">exportar</p>
</button>
