<div class="container">
  <h1 mat-dialog-title>Criar Produtos</h1>
  <mat-dialog-content>

    <mat-form-field color="accent">
      <input name="name"
             #iptName='ngModel' required
             [(ngModel)]="product.name"
             matInput placeholder="Nome do produto">
    </mat-form-field>

    <mat-form-field color="accent">
    <textarea name="objective" matInput
              #iptObjective='ngModel' required
              [(ngModel)]="product.objective"
              placeholder="Objetivo do produto informado">
    </textarea>
    </mat-form-field>
  </mat-dialog-content>
  <div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Fechar</button>
    <button mat-button
            [disabled]="iptName.invalid || iptObjective.invalid"
            class="bt-center" (click)="saveProduct()">Adicionar
    </button>
  </div>

</div>
