<l3co-base-dialog
  [title]="'Concorrentes'"
  (action)="action($event)"
  buttonSave="Salvar Concorrente">

  <mat-form-field color="accent">
    <input name="name" required
           [(ngModel)]="concurrences.name"
           matInput placeholder="Nome do concorrente">
  </mat-form-field>

  <mat-form-field color="accent">
    <input name="objective" matInput required
           [(ngModel)]="concurrences.site"
           placeholder="Site do concorrente">
  </mat-form-field>

</l3co-base-dialog>
