@media(min-width: 0px) and(max-width: 600px) {
  .dash-card {
    float: left;
    margin: 2px;
    max-width: 90%;
  }
}

@media(min-width: 600px) and (max-width: 800px) {
  .dash-card {
    float: left;
    margin: 2px;
    max-width: 90%;
  }
}

@media(min-width: 800px) {
  .dash-card {
    float: left;
    margin: 2px;
    max-width: 390px;
  }
}

.card-objective {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
