@media(min-width: 0px) and(max-width: 600px) {
  .dash-card {
    float: left;
    margin: 2px;
    max-width: 90%;
  }

  .card-objective, .cart-title {
    white-space: nowrap;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media(min-width: 600px) and (max-width: 800px) {
  .dash-card {
    float: left;
    margin: 2px;
    max-width: 90%;
  }

  .card-objective, .cart-title {
    white-space: nowrap;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media(min-width: 800px) {
  .dash-card {
    float: left;
    margin: 2px;
    max-width: 390px;
  }

  .card-objective, .cart-title {
    white-space: nowrap;
    width: 380px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
