<mat-card class="dash-card">
  <mat-card-header>
    <mat-card-title>
      {{ startup.idea }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="card-objective">{{startup.objective}}</p>
    <p>Mercado de atuação: {{startup.market}}</p>
    <mat-chip-list>
      <mat-chip class="investment">Investimento : {{ totalInvestments(startup) | currency: 'BRL': true}}</mat-chip>
      <mat-chip class="provision">Retorno : {{ totalProvision(startup) | currency: 'BRL': true}}</mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-actions>
    <l3co-action [startup]="startup"></l3co-action>
  </mat-card-actions>
</mat-card>
