<div class="container">
  <h1 mat-dialog-title>Custos</h1>
  <mat-dialog-content>
    <p *ngIf="costsIsEmpty()">Não há custos salvos!</p>
    <table *ngIf="!costsIsEmpty()" class="pure-table pure-table-horizontal">
      <thead>
      <tr>
        <th>ação</th>
        <th>nome</th>
        <th>valor</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cost of data.costs">
        <td>
          <button mat-button (click)="removeCosts(cost)">Remover</button>
        </td>
        <td>{{cost.name}}</td>
        <td>{{cost.value | currency : "BRL"}}</td>
      </tr>
      </tbody>
    </table>
  </mat-dialog-content>
  <br>
  <button mat-button (click)="close()">Fechar</button>
</div>
