<div class="container">
  <div style="width: 50%; margin: 0 auto;">
    <mat-card-title>Usuário</mat-card-title>
    <p class="mat-error" *ngIf="hasError">
      Erro durante a autenticação do usuário
    </p>
    <mat-card-content>
      <mat-form-field color="accent" *ngIf="singUpStatus">
        <input name="name" type="text" [(ngModel)]="user.name" required matInput placeholder="Seu nome">
      </mat-form-field>

      <mat-form-field color="accent">
        <input name="mail" type="email" [(ngModel)]="user.mail" #iptMail="ngModel" required matInput
               placeholder="Digite seu email">
      </mat-form-field>

      <mat-form-field color="accent">
        <input type="password" name="password" #iptPass="ngModel" required [(ngModel)]="user.password" matInput
               placeholder="Senha">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>

      <button mat-button
              *ngIf="!singUpStatus"
              [disabled]="iptMail.invalid || iptPass.invalid"
              class="bt-center" color="accent" (click)="login()">Login
      </button>

      <button *ngIf="!singUpStatus" mat-button class="bt-center" color="accent" (click)="activateLogout()">Registrar
        usuário
      </button>

      <button *ngIf="singUpStatus" mat-button class="bt-center" color="accent" (click)="deactivateLogout()">Voltar
      </button>

      <button mat-button
              *ngIf="singUpStatus"
              [disabled]="iptMail.invalid || iptPass.invalid"
              class="bt-center" color="accent" (click)="singUp()">
        Salvar
      </button>

    </mat-card-actions>
  </div>
</div>
