<mat-card class="example-card" style="margin: 0 auto; width: 250px">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Business Plan</mat-card-title>
    <mat-card-subtitle>Seja bem vindo!</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../assets/img/business.jpg" class="mat-elevation-z3" alt="Business Plan">
  <mat-card-content>
    <p style="text-align: justify; font-size: x-small">
      Está ferramenta tem por objetivo ajudar usuários que desejam fazer seus planejamentos de
      Desenvolvida por <a href="https://www.linkedin.com/in/le-co/" style="color: white" target="_blank">leco</a>
      e gerada a partir de conseito explicados no livro Plano de Negócios com Canvas (José Dornelas).
    </p>
  </mat-card-content>
  <mat-card-actions style="text-align: center">
    <h5>ENTRAR</h5>
    <button mat-fab (click)="tryGoogleLogin()" color="accent" class="social-btn mat-elevation-z5">
      <img src="../../assets/img/google.png" class="social">
    </button>

    <button mat-fab color="accent" (click)="tryFacebookLogin()" class="social-btn mat-elevation-z5">
      <img src="../../assets/img/facebook.png" class="social">
    </button>

    <button mat-fab color="accent" (click)="tryGithubLogin()" class="social-btn mat-elevation-z5">
      <img src="../../assets/img/github.png" class="social">
    </button>
  </mat-card-actions>
</mat-card>
