<div class="container">
  <div style="width: 50%; margin: 0 auto;">
    <h1>Entrar com</h1>
    <mat-card-content>
      <button mat-mini-fab (click)="tryGoogleLogin()" color="accent" class="social-btn">
        <img src="../../assets/img/google.png" class="social">
      </button>

      <button mat-mini-fab color="accent" (click)="tryFacebookLogin()" class="social-btn">
        <img src="../../assets/img/facebook.png" class="social">
      </button>

      <button mat-mini-fab color="accent" (click)="tryGithubLogin()" class="social-btn">
        <img src="../../assets/img/github.png" class="social">
      </button>

    </mat-card-content>

    <h3>Bem vindo ao Business Plan</h3>
    <h4>Está ferramenta tem por objetivo ajudar usuários que desejam fazer seus planejamentos de negócio.</h4>
    <h5>Desenvolvida por <a href="https://www.linkedin.com/in/le-co/" style="color: white" target="_blank">leco</a>
      e gerada a partir de conseito explicados no livro Plano de Negócios com Canvas (José Dornelas).</h5>
  </div>
</div>


