/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import 'assets/css/pure-min.css';


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

@media(min-width: 0px) and(max-width: 400px) {
  .dash-card {
    float: left;
    margin: 2px;
    width: 90%;
  }

  .card-objective, .cart-title {
    white-space: nowrap;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media(min-width: 400px) and(max-width: 600px) {
  .dash-card {
    float: left;
    margin: 2px;
    width: 90%;
  }

  .card-objective, .cart-title {
    white-space: nowrap;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media(min-width: 600px) and (max-width: 800px) {
  .dash-card {
    float: left;
    margin: 2px;
    width: 90%;
  }

  .card-objective, .cart-title {
    white-space: nowrap;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media(min-width: 800px) {
  .dash-card {
    float: left;
    margin: 2px;
    width: 370px;
  }

  .card-objective, .cart-title {
    white-space: nowrap;
    width: 360px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.container, l3co-input {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 2em auto;
}

.card-button {
  margin: 0 5px !important;
}

.info-btn {
  font-size: 9px;
  color: white;
}


.investment {

  background-color: lightseagreen !important;
  color: white !important;
}

.costs {
  background-color: lightcoral !important;
  color: white !important;
}

.fab-bottom-help {
  position: fixed !important;
  right: 15px;
  bottom: 75px;
}

.fab-bottom-out {
  position: fixed !important;
  right: 15px;
  bottom: 120px;
}

.fab-bottom-add {
  position: fixed !important;
  right: 15px;
  bottom: 15px;
}

mat-form-field {
  width: 100%;
}
