/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container, l3co-input {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 5em auto;
}

.investment{
  background-color: lightcoral !important;
  color: white !important;
}

.provision{
  background-color: lightseagreen !important;
  color: white !important;
}

.fab-bottom-right{
  position: fixed !important;
  right: 15px;
  bottom: 15px;
}
