<l3co-base-dialog
  [title]="'Formas de Montetização'"
  (action)="action($event)"
  buttonSave="Salvar Monetização">

  <mat-form-field color="accent">
    <input name="description" required
           [(ngModel)]="monetize.description"
           matInput placeholder="Forma de Monetização">
  </mat-form-field>

  <mat-form-field color="accent">
    <textarea name="note" matInput required
              [(ngModel)]="monetize.note"
              placeholder="Descrição da monetização">
    </textarea>
  </mat-form-field>

</l3co-base-dialog>
